<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include 'css.html' %}

  <script src="{{ url_for('static', filename='js/investments.js')}}"></script>

  <title>Mamom</title>
</head>
<body>
  <!-- menu de navegação -->
  <nav class="nav-extended #7e57c2 deep-purple lighten-1">
    <div class="nav-wrapper">
      <a class="brand-logo center">Simulação</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/mamom/investments/">Nova Simulação</a></li>
        <li><a href="/mamom/settings/">Configurações</a></li>
        <li><a href="/mamom/logout/">Sair<i class="material-icons right">exit_to_app</i></a></li>
      </ul>

      <a href="/mamom/"><i class="material-icons">arrow_back</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="card">
      <div class="card-content">
        <input id="value" type="number" value="0">
      </div>
    </div>

    <!-- painel de investimentos -->
    <div id="investments"></div>
  </div>
</body>
</html>
