<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and Minified jQuery -->
  <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <title>Mamom</title>
</head>
<body>
  <!-- menu de navegação -->
  <nav class="nav-extended #7e57c2 deep-purple lighten-1">
    <div class="nav-wrapper">
      <a class="brand-logo center">{{ goal.name }}</a>

      <a href="/mamom/"><i class="material-icons">arrow_back</i></a>
    </div>

    <div>
      <!-- progresso da meta -->
    </div>

  </nav>

  <div class="container">
    <!-- lista de depósitos -->
  </div>

</body>
</html>
