<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mamom</title>
</head>
<body>
  <!-- menu de navegação -->
  <nav class="nav-extended #7e57c2 deep-purple lighten-1">
    <div class="nav-wrapper">
      <a href="/mamom/" class="brand-logo center">{{ goal.name }}</a>

        <ul id="slide-out" class="side-nav">
          <li><a href="/mamom/"><i class="material-icons">back_arrow</i></a></li>
        </ul>
        <a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    </div>

    <div>
      <!-- progresso da meta -->
    </div>

  </nav>

  <div class="container">
    <!-- lista de depósitos -->
  </div>

</body>
</html>
