<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include 'css.html' %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/goals.js') }}">

  </script>

  <title>Mamom</title>
</head>
<body>
  <!-- menu de navegação -->
  <nav class="nav-extended #7e57c2 deep-purple lighten-1">
    <div class="nav-wrapper">
      <a class="brand-logo center">{{ goal.name }}</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/mamom/investments/" class="tooltipped" data-position="bottom" data-tooltip="Faça uma simulação facilmente agora mesmo!">Novo investimento<i class="right"><img src="{{ url_for('static', filename='images/info.svg') }}" alt=""></i></a></li>
        <li><a href="/mamom/settings/">Configurações</a></li>
        <li><a href="/mamom/logout/">Sair<i class="material-icons right">exit_to_app</i></a></li>
      </ul>

      <a href="/mamom/"><i class="material-icons">arrow_back</i></a>
    </div>

    <div>
      <!-- progresso da meta -->
    </div>

  </nav>

  <div class="container">
    <input type="hidden" id="goalId" value="{{ goal._id }}">


    <div class="fixed-action-btn">
      <a href="#modal-deposit-in-goal" class="btn-floating btn-large modal-trigger red">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>

  {% include 'modals/goals.html' %}

</body>
</html>
