<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include 'css.html' %}

  <script src="{{ url_for('static', filename='js/signup.js') }}"></script>

  <title>Mamom</title>
</head>
<body>

  <!-- menu de navegação -->
  <nav class="nav-extended #7e57c2 deep-purple lighten-1">
    <div class="nav-wrapper">
      <a href="/mamom/" class="brand-logo center">Mamom</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/mamom/login/">Entrar</a></li>
          <li><a href="/mamom/signup/">Inscrever-se</a></li>
        </ul>

        <ul id="slide-out" class="sidenav">
          <li><a href="/mamom/login/">Entrar</a></li>
          <li><a href="/mamom/signup/">Registrar-se</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <h4>Cadastrar-se</h4>

    <form action="/mamom/signup/" method="POST">
      <div class="row">
        {% if error %}
          <div class="input-field s12 m12 l12">
            <span style="color: red;font-weight: bold;">{{ error }}</span>
          </div>
        {% endif %}
        <div class="input-field s12 m12 l12">
          <input name="name" id="name" type="text" required>
          <label for="name">Nome</label>
        </div>

        <div class="input-field s12 m12 l12">
          <input name="email" id="email" type="email" required>
          <label for="email">E-mail</label>
        </div>

        <div class="input-field s12 m12 l12">
          <label>Senha</label>
          <input id="newPassword" type="password" name="password" required>
        </div>

        <div class="input-field s12 m12 l12">
          <label for="newPassword2">Confirmar senha</label>
          <input type="password" id="newPassword2" required>
        </div>

        <div class="input-field s12 m12 l12">
          <span id="password-error" style="display: none"></span>
        </div>

      <div class="row">
        <button type="submit" class="btn col s12 m12 l6 offset-l6 #7e57c2 deep-purple lighten-1">Cadastrar-se</button>
      </div>
    </form>
  </div>

</body>
</html>
