<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include 'css.html' %}

  <title>Mamom</title>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-content">

        <span class="card-title">Ops! Verificamos que você não tem permissão para accesar esta página,
        por favor, entre novamente na aplicação e tente de novo!</span>
      </div>
    </div>
  </div>
</body>
</html>
