

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<!-- 0.98.0 -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

<!-- Compiled and Minified jQuery -->
<!-- 3.3.1 -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<!-- Compiled and minified JavaScript -->
<!-- 0.98.0 -->
<script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
