<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include 'css.html' %}

  <script src="{{ url_for('static', filename='js/index.js') }}"></script>

  <title>Mamom</title>
</head>
<body>

  <!-- menu de navegação -->
  <nav class="nav-extended #7e57c2 deep-purple lighten-1">
    <div class="nav-wrapper">
      <a href="/mamom/" class="brand-logo center">Mamom</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/mamom/investments/">Nova Simulação</a></li>
          <li><a href="/mamom/users/">Configurações</a></li>
          <li><a href="/mamom/logout/">Sair<i class="material-icons right">exit_to_app</i></a></li>
        </ul>

        <ul id="slide-out" class="side-nav">
          <li><a href="/mamom/investments/">Nova Simulação</a></li>
          <li><a href="/mamom/users/">Configurações</a></li>
          <li><a href="/mamom/logout/">Sair<i class="material-icons right">exit_to_app</i></a></li>
        </ul>
        <a data-activates="slide-out" class="button-collapse show-on-med-and-down"><i class="material-icons">menu</i></a>
    </div>

    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#accounts">Contas</a></li>
        <li class="tab"><a href="#history">Movimentações</a></li>
        <li class="tab"><a href="#goals">Metas</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div id="accounts">

      <p id="message-account" style="display:none"></p>

      {% if accounts %}
        {% for account in accounts %}
          <!-- conta -->
          <div class="account card">
            <div class="card-content">
              <div class="row">
                <div class="col s12 m6 l6">
                  <input class="accountId" type="hidden" value="{{ account._id }}">
                  <span class="card-title"><a href="/mamom/accounts/{{ account._id }}/">{{ account.name }}</a></span>
                </div>
                <div class="col s12 m6 l6">
                  <span class="card-title">R$ {{ account.balance }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      <div class="fixed-action-btn">
        <a href="#modal-create-account" class="btn-floating btn-large modal-trigger red">
          <i class="large material-icons">add</i>
        </a>
      </div>
    </div>

    <div id="history">

      <p id="message-history-painel" style="display:none"><p>

      <div class="row">
        {% if transations %}
          {% for transation in transations %}
            <!-- movimentação -->
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col s12 m6 l6">
                    <span class="card-title">{{ transation.name }}</span>
                  </div>
                  <div class="col s12 m6 l6">
                    <span class="card-title">R$ {{ transation.value }} </span>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
        {% endif %}
      </div>

  </div>

  <div id="goals">
    <p id="message-goal-painel" style="display:none"><p>

    {% if goals %}
      {% for goal in goals %}
        <!-- meta -->
        <div class="goal card">
          <div class="card-content">
            <div class="row">
              <div class="col s12 m6 l6">
                <input type="hidden" class="goalId" value="{{ goal._id }}">
                <span class="card-title"><a href="/mamom/goals/{{ goal._id }}">{{ goal.name }}</a></span>
              </div>
              <div class="col s12 m6 l6">
                <span class="card-title">R$ {{ goal.value }} </span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}

    <div class="fixed-action-btn">
      <a href="#modal-create-goal" class="btn-floating btn-large modal-trigger red">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>

  </div>

<!-- modal de criação de meta -->
<div id="modal-create-goal" class="modal">
  <div class="modal-content">
    <span class="modal-title">Nova meta</span>
    <div class="row">
      <div class="input-text">
        <label for="goal-name">Nome</label>
        <input name="goal-name" id="goal-name" type="text">
      </div>

      <div class="input-text">
        <label for="goal-deadline">Prazo</label>
        <input name="goal-deadline" id="goal-deadline" type="date">
      </div>

      <div class="input-text">
        <label for="goal-value">Valor</label>
        <input name="goal-value" id="goal-value" type="number" value="0">
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <a id="btnCreateGoal" class="modal-action modal-close btn-flat">Criar</a>
    <a class="modal-action modal-close btn-flat">Cancelar</a>
  </div>
</div>



<!-- modal de edição de meta -->
<div id="modal-edit-goal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s11 m11 l11">
        <span class="modal-title">Editar meta</span>
      </div>
      <div class="col s1 m1 l1">
        <a id="btnDeleteGoal"><i class="material-icons">remove</i></a>
      </div>
    </div>
    <div class="row">

      <input type="hidden" id="modal-edit-goal-id">

      <div class="input-text">
        <label for="modal-edit-goal-name">Nome</label>
        <input name="modal-edit-goal-name" id="modal-edit-goal-name" type="text">
      </div>

      <div class="input-text">
        <label for="modal-edit-goal-deadline">Prazo</label>
        <input name="modal-edit-goal-deadline" id="modal-edit-goal-deadline" type="date">
      </div>

      <div class="input-text">
        <label for="modal-edit-goal-value">Valor</label>
        <input name="modal-edit-goal-value" id="modal-edit-goal-value" type="number" value="0">
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <a id="btnEditGoal" class="modal-action modal-close btn-flat">Editar</a>
    <a class="modal-action modal-close btn-flat">Cancelar</a>
  </div>
</div>


  <!-- módulo contendo modals de criação e edição de contas -->
  {% include 'modals-accounts.html' %}

</body>
</html>
