<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and Minified jQuery -->
  <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>


  <script src="{{ url_for('static', filename='js/users.js') }}"></script>

  <title>Mamom</title>
</head>
<body>

  <!-- menu de navegação -->
  <nav class="nav-extended #7e57c2 deep-purple lighten-1">
    <div class="nav-wrapper">
      <a href="/mamom/" class="brand-logo center">Mamom</a>

        <ul id="slide-out" class="side-nav">
          <li><a href="/mamom/users/">Editar perfil</a></li>
          <li><a id="btnDeleteUser">Excluir conta</a></li>
          <li><a href="/mamom/logout/">Sair</a></li>
        </ul>
        <a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Informações de Conta</span>

        <input type="hidden" id="userId" value="{{ user._id }}">

        <label for="name">Nome</label>
        <input type="text" id="name" value="{{ user.name }}">

        <label for="email">E-mail</label>
        <input type="email" id="email" value="{{ user.email }}">
      </div>
      <div class="card-action">
        <a id="btnEditPI">Editar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Segurança</span>

        <label for="currentPassword">Senha atual</label>
        <input type="text" id="currentPassword">

        <label for="newPassword">Nova senha</label>
        <input type="text" id="newPassword">
      </div>
      <div class="card-action">
        <a id="btnEditPassword">Alterar</a>
      </div>
    </div>
  </div>

</body>
</html>
