<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include 'css.html' %}

  <script src="{{ url_for('static', filename='js/users.js') }}"></script>

  <title>Mamom</title>
</head>
<body>

  <!-- menu de navegação -->
  <nav class="nav-extended #7e57c2 deep-purple lighten-1">
    <div class="nav-wrapper">
      <a class="brand-logo center">Configurações</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/mamom/investments/">Nova Simulação</a></li>
        <li><a href="/mamom/users/">Configurações</a></li>
        <li><a href="/mamom/logout/">Sair<i class="material-icons right">exit_to_app</i></a></li>
      </ul>

      <a href="/mamom/"><i class="material-icons">arrow_back</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Informações de Conta</span>

        <input type="hidden" id="userId" value="{{ user._id }}">

        <label for="name">Nome</label>
        <input type="text" id="name" value="{{ user.name }}">

        <label for="email">E-mail</label>
        <input type="email" id="email" value="{{ user.email }}">

        <span id="email-error" style="display: none">Error</span>
      </div>
      <div class="card-action">
        <a id="btnEditPI">Editar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Alterar senha</span>

        <label for="currentPassword">Senha atual</label>
        <input type="text" id="currentPassword">

        <label for="newPassword">Nova senha</label>
        <input type="text" id="newPassword">

        <label for="newPassword2">Confirmar senha</label>
        <input type="text" id="newPassword2">
      </div>
      <div class="card-action">
        <a id="btnEditPassword">Alterar</a>
      </div>
    </div>
  </div>

</body>
</html>
