

<!-- modal de criação de meta -->
<div id="modal-create-goal" class="modal">
  <div class="modal-content">
    <span class="modal-title">Nova meta</span>
    <div class="row">
      <div class="input-text">
        <label for="goal-name">Nome</label>
        <input name="goal-name" id="goal-name" type="text">
      </div>

      <div class="input-text">
        <label for="goal-deadline">Prazo</label>
        <input name="goal-deadline" id="goal-deadline" type="date">
      </div>

      <div class="input-text">
        <label for="goal-value">Valor</label>
        <input name="goal-value" id="goal-value" type="number" value="0">
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <a id="btnCreateGoal" class="modal-action modal-close btn-flat">Criar</a>
    <a class="modal-action modal-close btn-flat">Cancelar</a>
  </div>
</div>



<!-- modal de edição de meta -->
<div id="modal-edit-goal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s11 m11 l11">
        <span class="modal-title">Editar meta</span>
      </div>
      <div class="col s1 m1 l1">
        <a id="btnDeleteGoal"><i class="material-icons">remove</i></a>
      </div>
    </div>
    <div class="row">

      <input type="hidden" id="modal-edit-goal-id">

      <div class="input-text">
        <label for="modal-edit-goal-name">Nome</label>
        <input name="modal-edit-goal-name" id="modal-edit-goal-name" type="text">
      </div>

      <div class="input-text">
        <label for="modal-edit-goal-deadline">Prazo</label>
        <input name="modal-edit-goal-deadline" id="modal-edit-goal-deadline" type="date">
      </div>

      <div class="input-text">
        <label for="modal-edit-goal-value">Valor</label>
        <input name="modal-edit-goal-value" id="modal-edit-goal-value" type="number" value="0">
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <a id="btnEditGoal" class="modal-action modal-close btn-flat">Editar</a>
    <a class="modal-action modal-close btn-flat">Cancelar</a>
  </div>
</div>
