<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and Minified jQuery -->
  <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <script src="{{ url_for('static', filename='js/accounts.js')}}"></script>

  <title>Mamom</title>
</head>
<body class="#e0e0e0 grey lighten-2">

  <!-- menu de navegação -->

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper #7e57c2 deep-purple lighten-1">
        <a class="brand-logo center">{{ account.name }}</a>

        <ul class="right hide-on-med-and-down">
          <li><a href="/mamom/users/">Configurações</a></li>
          <li><a href="/mamom/investments/">Nova Simulação</a></li>
          <li><a href="/mamom/logout/">Sair</a></li>
        </ul>

        <a href="/mamom/"><i class="material-icons">arrow_back</i></a>
      </div>
    </nav>
  </div>

  <div class="container">
    <input id="accountId" type="hidden" value="{{ account._id }}">

    <div class="row">
      {% if transations %}
        {% for transation in transations %}
          <!-- movimentação -->
          <div class="card transation">
            <input type="hidden" class="transationId" value="{{ transation._id }}">
            <div class="card-content">
              <div class="row">
                <div class="col s12 m6 l6">
                  <span class="card-title">{{ transation.name }}</span>
                </div>
                <div class="col s12 m6 l6">
                  <span class="card-title">R$ {{ transation.value }} </span>
                </div>
              </div>
            </div>
          </div>

        {% endfor %}
      {% endif %}
    </div>

  <div class="fixed-action-btn vertical click-to-toggle">
   <a onclick="fillModalCreateTransation();" href="#modal-create-transation" class="modal-trigger btn-floating btn-large red">
     <i class="material-icons">add</i>
   </a>
 </div>

 <!-- modal de criação de transação -->
 <div id="modal-create-transation" class="modal">
   <div class="modal-content">
     <span class="modal-title">Nova Transação</span>
     <div class="row">
       <div class="input-text">
         <label for="name">Nome</label>
         <input name="name" id="name" type="text">
       </div>

       <div class="input-text">
         <label for="value">Valor</label>
         <input name="value" id="value" type="number" value="0">
       </div>

       <div class="input-text">
         <label for="createdAt">Data</label>
         <input name="createdAt" id="createdAt" type="date">
       </div>

       <div class="input-text">
         <label for="category">Categoria</label>
         <select id="category" name="category">

         </select>
       </div>
     </div>
   </div>

   <div class="modal-footer">
     <a id="btnCreateTransation" class="modal-action modal-close btn-flat">Criar</a>
     <a class="modal-action modal-close btn-flat">Cancelar</a>
   </div>
 </div>


 <!-- modal de edição de transação -->
 <div id="modal-edit-transation" class="modal">
   <div class="modal-content">
     <div class="row">
       <div class="col s11 m11 l11">
         <span class="modal-title">Editar transação</span>
       </div>
       <div class="col s1 m1 l1">
         <a id="btnDeleteTransation"><i class="material-icons">remove</i></a>
       </div>
     </div>
     <div class="row">

       <input type="hidden" id="modal-edit-transation-id">

       <div class="input-text">
         <label for="modal-edit-transation-name">Nome</label>
         <input name="modal-edit-transation-name" id="modal-edit-transation-name" type="text">
       </div>

       <div class="input-text">
         <label for="modal-edit-transation-value">Valor</label>
         <input name="modal-edit-transation-value" id="modal-edit-transation-value" type="number" value="0">
       </div>

       <div class="input-text">
         <label for="modal-edit-transation-createdAt">Data</label>
         <input name="modal-edit-transation-createdAt" id="modal-edit-transation-createdAt" type="date">
       </div>

       <div class="input-text">
         <label for="modal-edit-transation-category">Categoria</label>
         <select id="modal-edit-transation-category" name="modal-edit-transation-category">

         </select>
       </div>
     </div>
   </div>

   <div class="modal-footer">
     <a id="btnEditTransation" class="modal-action modal-close btn-flat">Editar</a>
     <a class="modal-action modal-close btn-flat">Cancelar</a>
   </div>
 </div>

</body>
</html>
