<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and Minified jQuery -->
  <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <script>
    var PROTOCOL = window.location.protocol;
    var HOSTNAME = window.location.hostname;
    var PORT = window.location.port;

    var URL = PROTOCOL + "//" + HOSTNAME + ":" + PORT;

    function fillModalCreateTransation() {
      $.ajax({
        url: URL + "/mamom/categories/",
        type: "GET",
        success: function(data) {
          $("#category").empty();

          for(index in data) {
            $("#category").append($("<option />").text(data[index]["name"]).attr("value", data[index]["_id"]))
          }

          $('select').material_select();
        }
      });
    }

    $(document).ready(function(){
      $(".button-collapse").sideNav();

      $('.tabs').tabs();

      $('.modal').modal();

      $('select').material_select();

      $("#btnCreateAccount").click(function(event){
        var accountId = $("#accountId").val();
        var name = $("#name").val();
        var categoryId = $("#category :checked").val();
        var createdAt = $("#createdAt").val();
        var value = $("#value").val();

        $.ajax({
          url: URL + "/mamom/transations/",
          type: "POST",
          data: {"accountId": accountId, "name": name, "categoryId": categoryId, "createdAt": createdAt, "value": value},
          success: function(data) {
            window.location.replace(URL + "/mamom/accounts/" + accountId + "/");
          }
        });


      });
    });

  </script>

  <title>Mamom</title>
</head>
<body>

  <!-- menu de navegação -->
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/mamom/" class="brand-logo center">Mamom</a>

        <ul id="slide-out" class="side-nav">
          <li><a href="#">Editar perdil</a></li>
          <li><a href="#">Excluir conta</a></li>
          <li><a href="/mamom/logout/">Sair</a></li>
        </ul>
        <a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <input id="accountId" type="hidden" value="{{ account._id }}">

    {% if transations %}
      {% for transation in transations %}
        <!-- movimentação -->
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12 m6 l6">
                <span class="card-title">{{ transation.name }}</span>
              </div>
              <div class="col s12 m6 l6">
                <span class="card-title">R$ {{ transation.value }} </span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}

  <div class="fixed-action-btn vertical click-to-toggle">
   <a onclick="fillModalCreateTransation();" href="#modal-create-transation" class="modal-trigger btn-floating btn-large red">
     <i class="material-icons">add</i>
   </a>
 </div>

 <!-- modal de criação de conta -->
 <div id="modal-create-transation" class="modal">
   <div class="modal-content">
     <span class="modal-title">Nova Transação</span>
     <div class="row">
       <div class="input-text">
         <label for="name">Nome</label>
         <input name="name" id="name" type="text">
       </div>

       <div class="input-text">
         <label for="value">Valor</label>
         <input name="value" id="value" type="number" value="0">
       </div>

       <div class="input-text">
         <label for="createdAt">Data</label>
         <input name="createdAt" id="createdAt" type="date">
       </div>

       <div class="input-text">
         <label for="category">Categoria</label>
         <select id="category" name="category">

         </select>
       </div>
     </div>
   </div>

   <div class="modal-footer">
     <a id="btnCreateAccount" class="modal-action modal-close btn-flat">Criar</a>
     <a class="modal-action modal-close btn-flat">Cancelar</a>
   </div>
 </div>

</body>
</html>
